In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('quikr_car.csv')

In [3]:
df['kms_driven']

0      45,000 kms
1          40 kms
2      22,000 kms
3      28,000 kms
4      36,000 kms
          ...
887           NaN
888    27,000 kms
889    40,000 kms
890        Petrol
891        Petrol
Name: kms_driven, Length: 892, dtype: object

In [4]:
#Data cleaning 
#1) year has many non year values : str.isnumeric
#2) convert year object is in INT : astype(int)
#3) price has 'ask for price' : 
#4) convert price to int :
#5) remove KMS from kms_driven : .str.split() & str.get() & str.replace(',' , '') & str.isnumeric
#6) convert from obj to int 
#7) has nan values 
#8) nan values in fuel type 
#9) keep only first 3 words in name

In [5]:
df = df[df['year'].str.isnumeric()]

In [6]:
df['year'] = df['year'].astype(int)

In [7]:
df = df[df['Price'] != 'Ask For Price']

In [8]:
df['Price'] = df['Price'].apply(lambda x : x.replace(',' , ''))

In [9]:
df['Price'] = df['Price'].astype(int)

In [10]:
df['kms_driven'] = df['kms_driven'].str.split().str.get(0).str.replace(',' , '')

In [11]:
df = df[df['kms_driven'].str.isnumeric()]

In [12]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [13]:
df['fuel_type'].isna().sum()

1

In [14]:
df.dropna(subset= 'fuel_type' ,inplace=True)

In [15]:
df.isna().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [16]:
df['name'] = df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [17]:
#reset index , #the second step is not usually needed
df.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [18]:
#outliers check 
df = df[df['Price'] < 6000000].reset_index(drop=True)

In [19]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [20]:
x = df.drop(columns='Price')
y = df['Price']

In [21]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline

In [23]:
ohe = OneHotEncoder()
ohe.fit(x[['name' , 'company' , 'fuel_type']])
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [26]:
transformer = ColumnTransformer(transformers=[
    ('trans1', OneHotEncoder(categories=ohe.categories_) , ['name' , 'company' , 'fuel_type'])] , remainder= 'passthrough')

In [27]:
lr = LinearRegression()

In [28]:
pipe = make_pipeline(transformer , lr)

In [31]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trans1',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel'...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [32]:
y_pred = pipe.predict(x_test)
y_pred

array([ 3.29540967e+05,  4.69356410e+05,  3.19544107e+05,  2.28686420e+05,
        3.42539522e+05,  3.29540967e+05,  2.20747393e+05,  3.16776191e+05,
        2.25968816e+05,  2.37181050e+05,  8.39074352e+05,  4.87038545e+05,
        3.63662951e+05,  2.39035181e+05,  5.38277967e+05,  6.90866149e+04,
       -1.08130740e+05,  1.16341392e+05,  4.52253622e+05, -6.83809874e+04,
        1.17213391e+04,  4.72401983e+05,  5.74113955e+05,  1.83682905e+05,
        5.28831703e+05,  3.69603959e+05,  8.90234767e+04,  2.23924335e+05,
        8.56320778e+05,  6.95743900e+04,  3.14415397e+05,  4.89699269e+05,
        2.08303847e+05,  2.44696687e+05,  3.14416474e+05,  2.68665676e+05,
        3.84087624e+05,  3.99500942e+05,  3.18222256e+05,  1.75101064e+05,
        3.84369924e+05,  5.29569849e+05,  2.29897704e+05,  3.16189265e+05,
        3.41141422e+05,  2.63743185e+05,  2.10455917e+05,  3.78393069e+05,
        1.93336025e+05,  5.12609053e+05,  2.49807879e+05,  3.94282685e+05,
        2.88024982e+05,  1.32004306e+04,  2.76081503e+05, -9.67822041e+04,
        6.25580078e+05,  1.79715112e+05,  5.83576469e+05,  4.56938351e+04,
        7.59383178e+05,  4.33506270e+05,  1.89115986e+06,  1.64073770e+05,
        1.39210159e+05,  1.82839748e+05,  2.28924601e+05,  6.42071332e+04,
        3.14316062e+05,  3.16354700e+05,  1.10212886e+05,  5.60426664e+05,
        2.92298917e+05,  7.50059178e+05,  1.41395978e+04,  3.29399506e+05,
        3.92211627e+05,  3.69603959e+05,  4.86820142e+05,  3.20001105e+05,
        1.34676891e+05,  3.43385700e+05,  3.11463087e+05,  2.34333710e+05,
        3.24926779e+05,  5.80433208e+05,  5.48246987e+05,  2.69494703e+05,
        3.43385700e+05,  4.16126336e+05,  4.71090861e+05,  5.29983523e+05,
        2.31886276e+05,  3.87755455e+05,  2.81231678e+05,  3.08010110e+05,
        9.06270253e+05,  4.81449026e+05,  2.58332619e+05,  3.65366208e+05,
        9.20894914e+04,  2.90243798e+05,  2.59208376e+05,  5.77506919e+05,
        2.67380286e+05,  5.14364553e+04,  4.93826679e+05,  2.80670681e+05,
        1.12774667e+05,  3.28770439e+05,  1.49540714e+06,  8.21514248e+05,
        5.38208285e+05,  1.34955828e+05,  4.36248803e+05,  5.91926504e+05,
        6.10869296e+05,  2.27602283e+05,  1.44910476e+05,  3.42627952e+05,
        1.41447177e+05,  5.62942786e+05,  1.84778696e+05,  2.97456033e+05,
        3.79020208e+05,  5.97209168e+05,  1.97674835e+05,  2.96123138e+05,
        5.01016089e+05,  1.89119470e+06,  3.30824918e+05,  4.52829369e+05,
        1.75577826e+05,  1.04909886e+06,  4.62030385e+05,  3.63662951e+05,
        3.16198767e+05,  6.85132055e+05,  3.72208702e+05,  4.32705767e+05,
        4.59112315e+05,  2.74896906e+05,  2.34364662e+05,  2.94225344e+03,
        2.97456033e+05,  2.81237938e+05,  1.88774869e+03,  2.14805894e+05,
        3.07791053e+05,  1.95604012e+05,  4.51265490e+05,  2.83191739e+05,
        2.53443915e+05,  1.04338692e+06,  4.35631575e+05,  1.25413709e+06,
        1.49659633e+06,  2.31346906e+05,  5.99445016e+05,  4.07367119e+05,
        3.28676794e+05,  2.38822761e+05,  3.59961902e+05])

In [33]:
r2_score(y_pred,y_test)

0.6593466754320263

In [36]:
scores = []
for i in range(1000):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2 , random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(transformer , lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_pred,y_test))

In [39]:
scores[np.argmax(scores)]

0.8778387651679336

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2 , random_state=124)
lr = LinearRegression()
pipe = make_pipeline(transformer , lr)
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_pred,y_test)

0.8778387651679336

In [42]:
import pickle

In [45]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [46]:
df.to_csv('clean car.csv')